* {
    margin: 0;
    background-color: #F3E8D2;
}

h3 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.488rem;
}

p {
    font-family: "Agrandir";
    font-size: 1rem;
}

.productPage {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
    margin-left: 16px;
}

.productPage img {
    width: 40px;
}

header {
    margin-top: 40px;

    padding: 0 24px ;
    color: #8E8C6F;
}

footer {
    background-color: #8E8C6F;
    width: 100%;

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding: 8px 0 8px 8px;

    position: fixed;
    bottom: 0;
}

footer img {
    background-color: transparent;
    width: 64px;
}

.img {
    background-image: url(../img/slaapmasker.png);
    width: 240px;
    height: 240px;
    border-radius: 16px;

    background-size: cover;
    background-position: center;
}