* {
    margin: 0;
}

body {
    padding-bottom: 104px;
    background-color: #F3E8D2;
}

.padding {
    padding: 0 24px;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.986rem;
}

h2 {
    font-family: "Agrandir";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.728rem;
}

h3 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.488rem;
}

p {
    font-family: "Agrandir";
    font-size: 1rem;
}

.page {
    background-color: #B6A188;
    border-radius: 16px;
    margin: -8px;
    padding: 0 10px;
    align-content: center;
}

header {
    margin-top: 40px;
    display: grid;
    justify-content: center;

    color: #8E8C6F;
}

main {
    margin-top: 24px;
}

main img {
    width: 100%;
}

main section {
    display: flex;
    justify-content: center;  

}

main section div {
    display: grid;
    justify-content: center;
    position: relative;
    top: -80px;

    width: 50%;
    padding: 16px 80px ;
    border-radius: 16px;
}

.ctaHome {
    display: block;
    color: #8E8C6F;

    text-decoration: none;
    text-align: center;
}

main p {
    color: #8E8C6F;
    position: relative;
    top: -24px;
}

footer {
    background-color: #8E8C6F;
    width: 100%;

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding: 8px 0 8px px;

    position: fixed;
    bottom: 0;

    border-radius: 16px 16px 0px 0;
}

footer img {
    background-color: transparent;
    width: 64px;
}

.h1shop h1 {
    font-size: 10vw;
}

main a {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    

    color: #8E8C6F;
}

main a h2 {
    font-size: 5vw;
}

.product1 {
    width: 30vw;
    aspect-ratio: 1 / 1;
    border-radius: 3vw;

    background-image: url(../img/slaapmasker.png);
    background-size: cover;
    background-position: center;
}

.product2 {
    width: 30vw;
    aspect-ratio: 1 / 1;
    border-radius: 3vw;

    background-image: url(../img/oordopjes.png);
    background-size: cover;
    background-position: center;
}

.product3 {
    width: 30vw;
    aspect-ratio: 1 / 1;
    border-radius: 3vw;

    background-image: url(../img/sticker.png);
    background-size: cover;
    background-position: center;
}

.product4 {
    width: 30vw;
    aspect-ratio: 1 / 1;
    border-radius: 3vw;

    background-image: url(../img/koffiebeker.png);
    background-size: cover;
    background-position: center;
}

.product5 {
    width: 30vw;
    aspect-ratio: 1 / 1;
    border-radius: 3vw;

    background-image: url(../img/hoodie.png);
    background-size: cover;
    background-position: center;
}

.product6 {
    width: 30vw;
    aspect-ratio: 1 / 1;
    border-radius: 3vw;

    background-image: url(../img/shirt.png);
    background-size: 110%;
    background-position: center;
}

.products {
    padding: 0 24px;

    display: grid;
    gap: 40px;
}

.products a {
    text-decoration: none;
}

.buy1 {
    width: 30vw;
    aspect-ratio: 1 / 1;
    border-radius: 16px;

    background-image: url(../img/koffiebeker.png);
    background-size: cover;
    background-position: center;
}

.buy2 {
    width: 30vw;
    aspect-ratio: 1 / 1;
    border-radius: 16px;

    background-image: url(../img/oordopjes.png);
    background-size: cover;
    background-position: center;
}

.buy3 {
    width: 30vw;
    aspect-ratio: 1 / 1;
    border-radius: 16px;

    background-image: url(../img/sticker.png);
    background-size: cover;
    background-position: center;
}

.buy {
    padding: 0 24px;
    color: #8E8C6F;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.buy a {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;

    text-decoration: none;
}

.productPage {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
    margin-left: 16px;
}

.productPage img {
    width: 40px;
}