* {
    margin: 0;
    background-color: #F3E8D2;
}

body {
    padding-bottom: 104px;
}

.padding {
    padding: 0 24px;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.986rem;
}

h2 {
    font-family: "Agrandir";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.728rem;
}

p {
    font-family: "Agrandir";
    font-size: 1rem;
}

.page {
    background-color: #B6A188;
    border-radius: 16px;
    margin: -8px;
    padding: 0 10px;
    align-content: center;
}

header {
    margin-top: 40px;
    display: grid;
    justify-content: center;

    color: #8E8C6F;
}

main {
    margin-top: 24px;
}

main img {
    width: 100%;
}

main section {
    display: grid;
    justify-content: center;  
}

main section div {
    display: grid;
    justify-content: center;
    position: relative;
    top: -80px;

    background-color: c;
    width: 50%;
    padding: 16px 80px ;
    border-radius: 16px;
}

.ctaHome {
    color: #8E8C6F;
    text-decoration: none;
}

main p {
    color: #8E8C6F;
    position: relative;
    top: -24px;
}

footer {
    background-color: #8E8C6F;
    width: 100%;

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding: 8px 0 8px 8px;

    position: fixed;
    bottom: 0;
}

footer img {
    background-color: transparent;
    width: 64px;
}

main a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center;

    color: #8E8C6F;
}

.product1 {
    width: 240px;
    height: 240px;
    border-radius: 16px;

    background-image: url(../img/slaapmasker.png);
    background-size: cover;
    background-position: center;
}

.product2 {
    width: 240px;
    height: 240px;
    border-radius: 16px;

    background-image: url(../img/oordopjes.png);
    background-size: cover;
    background-position: center;
}

.product3 {
    width: 240px;
    height: 240px;
    border-radius: 16px;

    background-image: url(../img/sticker.png);
    background-size: cover;
    background-position: center;
}

.product4 {
    width: 240px;
    height: 240px;
    border-radius: 16px;

    background-image: url(../img/koffiebeker.png);
    background-size: cover;
    background-position: center;
}

.product5 {
    width: 240px;
    height: 240px;
    border-radius: 16px;

    background-image: url(../img/hoodie.png);
    background-size: cover;
    background-position: center;
}

.product6 {
    width: 240px;
    height: 240px;
    border-radius: 16px;

    background-image: url(../img/shirt.png);
    background-size: 110%;
    background-position: center;
}

.products {
    padding: 0 24px;

    display: grid;
    gap: 40px;
}